body {
  background-color: #121212;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

label {
  font-size: 20px;
  margin-bottom: 10px;
}

input[type=date] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 18px;
}
h1 {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: #2c3e50;
  text-shadow: 2px 2px #ecf0f1;
  margin-top: 50px;
  margin-bottom: 30px;
}


button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #FF6F61;
  color: #FFFFFF;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #E9453D;
}

#color-swatch {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  border-radius: 50%;
  box-shadow: 0 0 20px #FFFFFF;
}

#clear-history-btn {
  padding: 10px 20px;
  margin: 250px 50px;
  border: none;
  border-radius: 5px;
  background-color: #1D2731;
  color: #FFFFFF;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#clear-history-btn:hover {
  background-color: #10151B;
}

#history-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#history-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.swatch {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

